@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/********************************Слайдер********************************/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	height: 350px;
	margin: 1% auto 0;
	position: relative;
	width: 700px;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url(http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg); }
.slide2 { background-image: url(http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg); }
.slide3 { background-image: url(http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg); }
.slide4 { background-image: url(http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg); }
.slide5 { background-image: url(http://habrastorage.org/files/53c/ff6/c1c/53cff6c1caf842368c70b8ef892d8402.jpg); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
/********************************Слайдер********************************/
body{
    font-family: dosis;
    background-color: white;
    font-size: 16px;
    margin: 0 10% 0 10%;
    text-align: center;
    color: #414b4c;
    width: 80%;
    align-content: center;
    background-color: #B5B4B0;
    min-width: 1136px;
}
ul, li{
    display: inline;  
}
ul{
    display: block;
    text-align: center;
}
.popup ul{
	text-decoration: none;
}
.popup img{
	text-align: center;
}
header{
    background-color: #2983e6;
    color: white;
    font-family: Open sans;
    padding: 0 0 2% 0;
    white-space: nowrap;
}

header li,ul { 
    padding: 2%;
}
header img{
    float: left;
}
header p#logo{
    float: left;
    padding: 1% 1% 1% 9%;
}
header p#phone{
    float: right;
    padding: 1% 9% 1% 1%;
}
header li:hover{
    background-color: #2068b6;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
#popup{
	position: fixed;
	display: none;
	background: #fff;
	z-index: 3;/******************************************/
}
footer a{
	color: black;
}
footer a:hover{
	color: black;
}
footer a:visited{
	color: black;
}
button{
	font-family: Open sans;/*шрифт не работает*/
	letter-spacing: 1px;
	font-size: 14px;
	left: 50%;
    background-color: #2983e6;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 25px; 
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #1665BB ;
    border: 1px solid white;
 }
h1,h2,h3,h4,h5,h6{
    font-family: PT Sans;
    text-align: center;
    font-weight: lighter;
}
button#order{
	margin-top: 5%;
	color: white;
}
button#order2{
	margin-top: 5%;
	border-color: #2983e6;
	color: white;
	margin-left: 1%;
	
}
h3{
	font-size: 32px;
}
h3#left{
	text-align: left;
}
h4{
	font-size: 28px;
}
h5{
	font-size: 16px;
}
content ul,li{
	padding: 22px;
}
table{
	margin: auto;
	font-family: PT Sans;
}
table th{
	font-weight: lighter;
	text-align: left;
	padding: 0.5%;
}
footer table td{
	text-align: left;
}
span{
	color: #2983e6;

}
.abonent  ul#bold{
	font-weight: bold;
	margin-left: 0px;
}
.tvbox img{
	float: right;
	padding-right: 20%;
}
.tvbox p{
	padding-top: 5%;
	font-family: PT sans;
	width: 50%;
}
.tvbox{
	padding: 5% 8% 5% 8%;
	background-color: #eeeeee;

    height: 400px;
    font-family: dosis;
}
.tarif{
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}
.tarif table{
	font-size: 20px;
}
.tarif table td{
	padding: 3%;
}
.tarif span{
	font-family: Open Sans;
	color: #2983e6;
	font-size: 28px;
}
.service{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.countres{
    background-color: #eeeeee;
    padding-top: 5%;
	padding-bottom: 5%;
}
.countres table td{
	padding: 2%;
}
.abonent{
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}
.abonent table{
	margin: auto;
	padding: 2%;
	
}
.abonent table tr#bold{
	font-weight: bold;
}
footer{
	background-color: white;
}
footer table{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 70%;
	empty-cells: show;
}
/************************PopUp*************************/
.b-popup{
	margin: 0 0 0 -10%;
	/*padding: 0;*/
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 3;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:400px;
    height: 440px;
    padding:10px;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
}
.blackText{
	color: #414b4c;
}
form a:hover{
	color: #414b4c;
}
form a:visited{
	color: #414b4c;
}
form a.blackText{
	color: #cdccc9;
	float: right;
	margin-right: 0.5em;
}
form h4{
	margin-top: 50px;
}
form img{
	display: block;
	/*margin: 0 auto;*/
	/*margin-left: 150px;*/
	margin: 20px 0 0 175px;
	/*border: 2px solid black;*/
}
form input{
	width: 354px;
	height: 44px;
	background-color: #f6f6f6;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	float: left;
	/*padding: 0.5em;*/
	margin: 1em 0 0 1em;	
}
form label{
	/*text-align: left;*/
	/*margin: 0.5em 0 0 0.5em;*/
	padding: 1em 0 0 1em;
	float: left;
}
.button{
	/*font-family: PT-Sans, Dosis, Verdana;*//*шрифт не работает*/
	font-family: verdana;
	letter-spacing: 1px;
	font-size: 14px;
	left: 50%;
    background-color: #2983e6;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 25px; /* Поля вокруг текста */
    cursor: pointer;
    color: white;
}
